<!DOCTYPE html>
<html>
    <head>
        <title>Chat</title>
    </head>
    <body>
        <h1>Fast Chat</h1>
        <form action="" onsubmit="sendMessage(event)">
            <input type="text" id="messageText" autocomplete="off"/>
            <button>Send</button>
        </form>
        <ul id='messages'>
            {% if msgs %}
                {% for msg in msgs %}
                <li>{{msg}}</li>
                {% endfor %}
            {% endif %}
         </ul>
        <script>
            var ws = new WebSocket("ws://localhost:8000/ws/1");
            ws.onmessage = function(event) {
                var messages = document.getElementById('messages')
                data = JSON.parse(event.data)
                msgs = data["msgs"]
                messages.innerHTML = ''
                msgs.map((msg)=>{
                    var message = document.createElement('li')
                    var content = document.createTextNode(msg)
                    message.appendChild(content)
                    messages.appendChild(message)

                })
                
            };
            function sendMessage(event) {
                var input = document.getElementById("messageText")
                ws.send(input.value)
                input.value = ''
                event.preventDefault()
            }
        </script>
    </body>
</html>